
*{
    background-color : skyblue;
} 


img {
    width : 100 px;
    height : 500px;
}

a {
    text-decoration: none;
    font-size: 50px;
}

a:link {
    color : gray;
}

a:hover {
    color : green;
}

a:visited {
    color :red;
}

.song_title ol {
    color : blue;
    font-size: 25px;
}


.member ul {
    color : rebeccapurple;
    font-size: 25px;
}

.login h2 {
    color : salmon;
}

.login label {
    color : beige;
}